@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
$formMainColor: #fecb89; //
$formMainDarkColor: #ffa931; // checked state (toggle/innerIconAfter, radio/innerIconAfter, checkbox/innerIconAfter) +
//  focus state (input, select, textarea, checkbox/innerIcon, radio/innerIcon, toggle/innerIcon) + def=>input,txtarea  bd-color
//  hover state form-rating-label txt-color + form-button  bg-color + toggle-label beforeicon +
$formMainMedColor: lighten(
  #ffa931,
  10%
); //hover state input select textarea (radio,checkbox,toggle/innericon) bd-color
$formMainLightColor: #fbe6d4;
$formBaseColor1: #e5e5e5; //disabled state bd color +normal state input bd  + icon-prepend & icon-append & inner icon for radio toggle checkbox &  textarea, input, select bd-color +
$formBaseColor2: #f0fff0; //success state bg color&box-shadow
$formBaseColor3: #ffffffe6; //form-sumbit & form message bg color
$formBaseColor4: #ccc; //icon-append, icon-prepend txtColor + formrating label txt-color
$formBaseColor5: #b3b3b3; //form-button-secondary bg-color
$formBaseColor6: #404040; //radio,checkbox label txt-color
$formBaseColor7: #666;
$formDefColor: #fbe6d4; //inpot,txtarea label bd-color hover state

$formBaseColorWhite: #fff; //form-button bg-color
$formBaseColorBlack: #000;
$formSuccessColor: #6fb679;
$form-note-color: #999;
$form-label-input-container-bg: #f8f6f4;
$formNotHoveredColor: #fbe6d4;
$formHoveredColor: $formMainColor;
$form-label-input-container-color: #404040;
$formHeaderBg: lighten(#fecb89, 10%);
//font size
$inputTextSize: 12px;
$labelTextSize: 14px;
$selectTextSize: 14px;
$textareaTextSize: 13px;
$checkboxTextSize: 13px;
$buttonTextSize: 14px;
$formErrorMessageTextSize: 8px;
// padding
$inputPadding: 5px 16px;
$selectPadding: 5px 16px;
$textareaPadding: 5px 16px;
$buttonPadding: 5px 16px;
$infoBtnPD: 10px 35px;
//margin
$leftMarginBetweenButton: 0.5rem;
$errorMessageMargin: 0.3rem;
$inputRadioRightMargin: 0.8rem;
$inputCheckBoxRightMargin: 0.8rem;
$selectMargin: 0;
$labelMargin: 20px 0 8px;
$buttonMargin: 1.6rem 0;
$formErrorLeft: 20px;
$formDesignTextGray: #171717;
$formDesignLightGray: #e2f0ef;
$formDesignLightGray2: #edf7f7;
$formDesignLightGray3: #f7fcfc;
$formDesignLightGray4: #cbe0dd;
$formDesignLightGray5: #2d4848;
$formDesignLightGray6: #1a2c2c;
$formDesignRed: #c73200;
$txt-colorRed: #c73200;
$formDesignFocusRing: #23adad;
$notification_color: #e7b853;
$color1: #00c7c7;
$color2: #ffffff;
$color3: #2c393f;
$color4: #ededed;
.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999999;
}

.top-right {
  top: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.top-left {
  top: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.notification {
  background: #fff;
  transition: 0.3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 30px;
  margin-bottom: 15px;
  width: 300px;
  max-height: 100px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.notification-message {
  margin: 0;
  text-align: left;
  height: 18px;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toast {
  height: 50px;
  width: 365px;
  color: #fff;
  padding: 20px 15px 10px 10px;
}

.notification-container button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  line-height: 1;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.form-container {
  margin: 0;
  outline: none;
  box-shadow: 0 0 10px #0000004d;
  font: 13px/1.55 "Open Sans", Helvetica, Arial, sans-serif;
  color: $formBaseColor7;

  .input-label,
  .select-label,
  .textarea-label,
  .radio-label,
  .checkbox-label,
  .toggle-label,
  .form-button {
    position: relative;
    display: block;
    border-radius: 4px;
  }
  .input-label input,
  .textarea-label textarea,
  .select-label select,
  .textarea-resizable-label textarea,
  .textarea-expandable-label textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 0.35rem 0.65rem;
    outline: none;
    border-width: 0.098rem;
    border-style: solid;
    border-radius: 4px;
    background: $form-label-input-container-bg;
    font: "Open Sans", Helvetica, Arial, sans-serif;
    color: $form-label-input-container-color;
    font-size: 1.1rem;
    line-height: 1.4rem;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .select-label select {
    font-size: 1.2rem/1.5rem;
    line-height: 1.8rem;
  }
  .form-button {
    color: #edf7f7;
    background-color: $formMainDarkColor;
  }
  .form-button {
    background-color: $formMainDarkColor;
    opacity: 0.8;
    transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
  }
  .radio-label,
  .checkbox-label {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0 1rem 0 2rem;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: $formBaseColor6;
    cursor: pointer;
    input {
      opacity: 0 !important;
    }
    i {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      display: block;
      width: 0.9rem;
      height: 0.9rem;
      outline: none;
      border-width: 2px;
      border-style: solid;
      background: $formBaseColorWhite;
    }
    input + i:after,
    input + i:after {
      display: block;
      position: absolute;
      opacity: 0;
      transition: opacity 0.1s;
      -o-transition: opacity 0.1s;
      -ms-transition: opacity 0.1s;
      -moz-transition: opacity 0.1s;
      -webkit-transition: opacity 0.1s;
    }
    input:checked + i:after,
    input:checked + i:after {
      opacity: 1 !important;
    }
  }
  .checkbox-label {
    input + i:after {
      content: "\f00c";
      position: absolute;
      transform: translate(5%, -16%);
      width: 0.6rem;
      height: 0.6rem;
      font: normal 12px/16px FontAwesome;
      text-align: center;
    }
  }
  .radio-label {
    input + i:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
    }
    i {
      border-radius: 50%;
    }
  }

  .select-multiple-label select {
    height: auto;
    option {
      margin: 0.3rem 0.2rem;
    }
  }
}
input[type="submit"].button,
input[type="submit"].button,
input[type="reset"].button,
input[type="button"].button,
button,
.button {
  padding: $buttonPadding;
  font-size: $buttonTextSize;
  border-radius: 10px;
  text-decoration: none;
  margin: $buttonMargin;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.col-des-1-1 {
  display: flex;
  width: 100%;
}
.aiCenter {
  .align-items: center;
}
.jcBetween {
  justify-content: space-between;
}
.toast-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 70%;
  margin: auto;
}
fieldset.form-fieldset {
  display: block;
  padding: 2.5rem 3rem 0.5rem;
  border: none;
  background: $formBaseColor3;
}
fieldset + fieldset {
  border-top: 1px solid #0000001a;
}
section {
  margin-bottom: 2rem;
}