.BanlistHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BanlistHeader h1 {
    color: #ffffff99;
}

.BanlistContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin: 0 auto;
}

.BanlistHeader button {
    font-size: 20px;
    color: #ffffff99;
    background: #171616;
    border: solid 2px rgba(255, 255, 255, 0.05);
    width: 90%;
    padding: 10px;
    transition: all .4s ease-in-out;
}

.BanlistHeader button:hover {
    border: solid 2px #c12c2c;
    color: #fff;
    cursor: pointer;
}

.ButtonIcon {
    margin-left: 8px;
}

.banlistTablerowTitle {
    margin-bottom: 10px;
}

.banlistTablerowTitle {
    display: grid;
    color: #ffffff99;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(6, minmax(70px, 1fr));
    gap: 20px;
}

.banlistTablerowTitle p {
    display: inline-block;
    padding: 15px 5px;
}