@media only screen and (min-device-width: 320px) and (max-device-width: 636px) {
    body {
        min-width: 636px;
    }
}


.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #1A1919;
    border: 2px solid rgba(255, 255, 255, 0.05);
    gap: 10px;
}

.main_content:last-child {
    margin-bottom: 20px;
}

.main_content img { 
    max-width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.05);
}

.main_content h2 {
    color: #c12c2c;
    margin-bottom: 10px;
    text-align: center;
}

.text_content {
    color: #ffffff99;
    margin-bottom: 10px;
}

.dicription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff99;
}

