@media only screen and (min-device-width: 320px) and (max-device-width: 636px) {
    div.first div{
        min-width: 636px;
    }

    div.shopContainer {
        margin: 0 0 40px 0;
    }

    div>div.privilegesDescription p {
        min-width: 596px;
    }
}

a {
    cursor: pointer;
}

div.privilegesDescription p {
    padding: 20px;
    min-width: 700px;
}

.h1_shop, .h2_shop {
    text-align: center;
}

.contentShop {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: #ffffff99;
    padding: 20px;
    border: solid 2px rgba(255, 255, 255, 0.05);
    background: url("img/background_v6.jpg") repeat;
}

.shopContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 40px 40px;
}

.shopContainer div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    border: solid 2px rgba(255, 255, 255, 0.05);
}

.paymentForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* position: relative;
    left: -20px;*/
}

.paymentForm p.pAmount {
    padding: 10px 30px 10px 0;
    margin: 0;
    width: 170px;
    text-align: left;
}

.paymentForm p.pAmount span {
    color:#c12c2c;
    font-weight: bolder;
}

.paymentForm p.pAmount span.amount{
    margin-left: 25px;
}

.paymentForm button{
    border: solid 2px rgba(255, 255, 255, 0.05);
    color: #ffffff99;
    background-color: #171616;
    width: 210px;
    /* display: flex; */
    align-items: center;
    transition: all .4s ease-in-out;
}

.paymentForm button p {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    cursor: pointer;
}

.paymentForm button:hover {
    border: solid 2px #c12c2c;
    color: #fff;
}

div.privilegesDescription {
    border: solid 2px rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    color: #ffffff99;
    min-height: 550px;
}

.ShopDropDownMenu {
    position: relative;
    width: 170px;
    padding: 0;
    margin: 0;
}

.ShopDropDownMenu>li>a {
    color: #ffffff99;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border: solid 2px rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    margin: 0;
    width: 170px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    /* background-color: #171616; */
}

.ShopDropDownMenu ul {
    height: 0;
    left: -40px;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: all .5s ease;
    width: 100%;
}

.ShopDropDownMenu li:hover ul {
    left: -40px;
    /* height: 172px; */
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.ShopDropDownMenu ul a {
    background: #171616;
    border: solid 2px rgba(255, 255, 255, 0.05);
    padding: 10px 20px;
    color: #ffffff99;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    width: 170px;
    left: 0;
    transition: all 0.4s ease-in-out;
}

.ShopDropDownMenu ul a:hover, .ShopDropDownMenu li a:hover {
    color: #fff;
    border: solid 2px #c12c2c;
}

.akcent {
    color:#c12c2c;
}

.privilegesPoint {
    display: inline-block;
    padding: 3px 0px;
}

.info {
    position: relative;
    border: solid 2px rgba(255, 255, 255, 0.05);
    background-color: #171616;
    color: #ffffff99;
    padding: 15px 5px;
    max-width: 68.3rem;
    margin: 0px auto;
    background: url("img/header_v6.jpg") repeat;
    text-align: center;
    margin-bottom: 20px;
}

.info b{
    color: #c12c2c;
}

.messageStrip {
    width: 3px;
    height: 4.5rem;
    background: #c12c2c;
    position: absolute;
    top: 11px;
    left: 15px;
}
